body {
	margin:0 auto;
	text-align: center;
}

#main {
	width: 100%;
	display: block;
}

h2 {
	text-align: left;
	width: 720px;
	margin: 0 auto;
}

#clips {
	text-align: left;
	width: 720px;
	margin: 0 auto;
	display: block;
}

div.clip {
	float: left;
	margin: 5px;
	cursor: pointer;
	border: 1px solid black;
}

canvas {
	width: 100px;
	height: 100px;
}

figcaption {
	text-align: center;
}

form {
	clear: both;
}

input {
	width: 200px;
}
input[type='submit'] {
	width: auto;
}


.clear {
	clear: both;
}